* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

/* Basic styles for the body and header--will update more later */
body {
    font-family: Arial, sans-serif;
    background-color: #7E6960;
    margin: 0;
    padding: 0px;
    /* box-sizing: border-box; */
}

header {
    background-color:#BB5538;
}

.webTitle {
    display: block;
    margin: 0 auto;
    max-width: fit-content;
    max-height: 275px;
}

/* Container for the content */
.container {
    margin: 20px auto;
    max-width: 800px;
    background-color: #BB5538;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form and input styles */
form {
    margin: 20px 0;
}

.searchBar {
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: 'Architects Daughter', cursive;
}

/* Button styles */
button {
    background-color: #D7AB69;
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #8FA34C;
}

/* Navigation bar styles */
.navBar {
    background-color: #7E6960;
    font-family: 'Architects Daughter', cursive;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

.navBar {
    font-weight: 600; 
    color: #e9e4d8;
    list-style: none;
    padding: 0;
    cursor: pointer;
}

.navBar li {
    display: inline;
    margin: 0 20px;
    text-decoration: none;
    color: #e9e4d8;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

.navBar li:hover {
    color: #D7AB69;
}

.recipeANDnutritionCont {
    display: flex;
}

#nutritionalFacts {
    flex: 1;
    margin: 20px;
    border: 2px solid #000;
    max-width: 200px;
    padding: 10px;
    text-align: left;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.nutritionalFacts h2 {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 4px solid #000;
    margin-bottom: 10px;
}

.energyCal,
.protein,
.fat,
.carbs,
.sugar,
.salt {
    font-size: 15px;
    font-weight: lighter;
    border-bottom: 1px solid #000;
    margin: 5px 0;
}

.energyCal::before {
    content: "";
}

.protein::before {
    content: "";
}

.fat::before {
    content: "";
}

.carbs::before {
    content: "";
}

.sugar::before {
    content: "";
}

.salt::before {
    content: "";
}


#recipeContainer {
    font-family: 'Architects Daughter', cursive;
    flex: 1;
    margin: 20px;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgb(35, 4, 4);
    border-radius: 10px;
    text-align: center;
    background-color: beige;
}

.mealName {
    font-size: 24px;
    font-weight: bold;
}

.mealImage {
    width: 100%;
    max-height: 200px;
    margin: 10px 0;
    border-radius: 10px;
    overflow: hidden;
}

.ingredientList,
.instructions {
    list-style: none;
    padding: 0;
    text-align: left;
}

.ingredientList {
    font-weight: bold;
}

.ingredientList li,
.instructions li {
    margin: 5px 0;
}

.instructions {
    font-weight: normal;
}

#dietContainer {
    display: flex; 
    flex-flow: column;
    padding: 20 20 20 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgb(35, 4, 4);
    border-radius: 3px;
    margin: 20px;
}

.foodPyramid {
    float: right;
    max-width: 300px;
    margin: 15px;
    border: 3px solid #8FA34C;
    border-radius: 3px;
}

.dietContainer h2 {
    font-family: 'Beth Ellen', cursive;
    color:  #e9e4d8;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.dietContainer h3 {
    font-family: 'Architects Daughter', cursive;
    color:  #e9e4d8;
    font-size: 20px;
    text-align: center;
}

article {
    font-family: 'Architects Daughter', cursive;
    list-style: decimal;
    font-weight: normal;
    padding-left: 20px;
    margin-top: 10px;
    text-align: left;
}

p {
    font-family: 'Architects Daughter', cursive;
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 10px;
}

li{
    list-style: none;
}

.bottom-container{
    display: flex; 
    flex-flow: column;
    padding: 20 20 20 20px;
    padding: 20 20 20 20px;
    margin-bottom: 10px;
    margin: 20px;
}

.section{
    font-family: 'Beth Ellen', cursive;
    color:  #e9e4d8;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgb(35, 4, 4);
    border-radius: 3px;
    margin: 20px;
   
}

p {
    font-family: 'Architects Daughter', cursive;
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 10px;
    border-radius: 3px;
    margin: 20px;
}

ul {
    font-family: 'Architects Daughter', cursive;
    font-size: 15px;
    font-weight: normal;
    color:#000;
    margin-bottom: 10px;
}

  /* Mobile-first media query for mobile devices */
@media (max-width: 767px) {
    /* Styles for screens with a width of 767px or less (typically mobile devices) */
}

/* Media query for desktop screens */
@media (min-width: 1000px) {
    /* Styles for screens with a minimum width of 1000px (typically desktops) */
}